.asovenv/
.vscode/
data/
runs/
saved_models
__pycache__/
.DS_Store
pddl_generators/blocksworld/3ops/2pddl/2pddl
pddl_generators/blocksworld/3ops/2pddl/2pddl.o
pddl_generators/blocksworld/4ops/2pddl/2pddl
pddl_generators/blocksworld/4ops/2pddl/2pddl.o
pddl_generators/blocksworld/bwstates.1/bwstates
pddl_generators/blocksworld/bwstates.1/bwstates.o
pddl_generators/blocksworld/matching/2pddl-typed
pddl_generators/blocksworld/matching/2pddl-untyped
pddl_generators/depots/depots
pddl_generators/ferry/ferry
pddl_generators/ferry/ferry.o
pddl_generators/gripper/gripper
pddl_generators/gripper/gripper.o
pddl_generators/grippers/grippers
pddl_generators/grippers/grippers.o
pddl_generators/hanoi/hanoi
pddl_generators/hanoi/hanoi.o
pddl_generators/logistics/logistics
pddl_generators/logistics/logistics.o
pddl_generators/miconic/miconic
pddl_generators/miconic/miconic.o
pddl_generators/satellite/satgen
pddl_generators/blocksworld/3ops/2pddl/2pddl
pddl_generators/blocksworld/3ops/2pddl/2pddl.o
pddl_generators/blocksworld/4ops/2pddl/2pddl
pddl_generators/blocksworld/4ops/2pddl/2pddl.o
pddl_generators/blocksworld/bwstates.1/bwstates
pddl_generators/blocksworld/bwstates.1/bwstates.o
pddl_generators/blocksworld/matching/2pddl-typed
pddl_generators/blocksworld/matching/2pddl-untyped
pddl_generators/depots/depots
pddl_generators/ferry/ferry
pddl_generators/ferry/ferry.o
pddl_generators/gripper/gripper
pddl_generators/gripper/gripper.o
pddl_generators/grippers/grippers
pddl_generators/grippers/grippers.o
pddl_generators/hanoi/hanoi
pddl_generators/hanoi/hanoi.o
pddl_generators/logistics/logistics
pddl_generators/logistics/logistics.o
pddl_generators/miconic/miconic
pddl_generators/miconic/miconic.o
pddl_generators/satellite/satgen
trainblocks4_reward_hFF.txt
pddl_generators/blocksworld/STATES
pddl_generators/blocksworld/3ops/2pddl/2pddl
pddl_generators/blocksworld/3ops/2pddl/2pddl.o
pddl_generators/blocksworld/4ops/2pddl/2pddl
pddl_generators/blocksworld/4ops/2pddl/2pddl.o
pddl_generators/blocksworld/bwstates.1/bwstates
pddl_generators/blocksworld/bwstates.1/bwstates.o
pddl_generators/blocksworld/matching/2pddl-typed
pddl_generators/blocksworld/matching/2pddl-untyped
pddl_generators/depots/depots
pddl_generators/ferry/ferry
pddl_generators/ferry/ferry.o
pddl_generators/gripper/gripper
pddl_generators/gripper/gripper.o
pddl_generators/grippers/grippers
pddl_generators/grippers/grippers.o
pddl_generators/hanoi/hanoi
pddl_generators/hanoi/hanoi.o
pddl_generators/logistics/logistics
pddl_generators/logistics/logistics.o
pddl_generators/miconic/miconic
pddl_generators/miconic/miconic.o
pddl_generators/satellite/satgen
